body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to right, #9C27B0, #673AB7); /* Main background color */
    color: white; /* Main text color */
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, #9C27B0, #673AB7);/* Darker purple for the header */
  }
  
  .logo {
    font-size: 1.8em;
    font-weight: 600;
  }

  .plain-link {
    color: inherit; /* This makes the link's color the same as the parent text color */
    text-decoration: none; /* Removes the underline from the link */
  }
  
  nav ul {
    list-style: none;
    display: flex;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
  }

  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 10px; /* Add padding for a larger clickable area */
    transition: color 0.3s, border-bottom-color 0.3s; /* Smooth transition for hover effect */
  }
  
  nav ul li a:hover, nav ul li a:focus {
    color: #FFA726; /* Orange color on hover */
    border-bottom: 2px solid #FFA726; /* Orange bottom border on hover */
  }

.faq-container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.faq h1 {
    text-align: right;
}

.question {
    width: 100%;
    padding: 10px;
    text-align: left;
    background: linear-gradient(to right, #9C27B0, #673AB7);
    color: white;
    border: 1px whitesmoke;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.question:hover {
    background-color: #673AB7;
}

.answer {
    padding: 20px;
    background: linear-gradient(to right, #9C27B0, #673AB7);
    opacity: 0.8;
    display: none; /* Initially hide the answer */
    border: 1px  #ddd;
}