body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to right, #9C27B0, #673AB7); /* Main background color */
    color: white; /* Main text color */
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, #9C27B0, #673AB7);/* Darker purple for the header */
  }
  
  .logo {
    font-size: 1.8em;
    font-weight: 600;
  }

  .plain-link {
    color: inherit; /* This makes the link's color the same as the parent text color */
    text-decoration: none; /* Removes the underline from the link */
  }
  
  nav ul {
    list-style: none;
    display: flex;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
  }

  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 10px; /* Add padding for a larger clickable area */
    transition: color 0.3s, border-bottom-color 0.3s; /* Smooth transition for hover effect */
  }
  
  nav ul li a:hover, nav ul li a:focus {
    color: #FFA726; /* Orange color on hover */
    border-bottom: 2px solid #FFA726; /* Orange bottom border on hover */
  }
  
  main .welcome-text {
    text-align: center;
    padding-top: 100px; /* Adjust the padding as necessary */
  }
  
  main .welcome-text h1 {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 0.2em;
  }
  
  main .welcome-text p {
    font-weight: 800;
    line-height: 0.5;
    max-width: 700px;
    margin: 1 auto; /* Center the text block */
    margin-top: 1px;
  }

  .container {
    display: flex;
    height: 100vh; /* Adjust the height as needed */
    align-items: flex-start
  }
  
  .image-area {
    flex: 1; /* Takes up half of the container */
    background-image: url('path-to-your-image.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
  }
  
  .welcome-text {
    flex: 1; /* Takes up the remaining half of the container */
    padding: 20px; /* Add padding as needed */
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align text to the start (left) of the 'welcome-text' div */
  }
  
  .highlight {
    color: #FFA726; /* Orange color */
  }


  .highlight {
    color: #FFA726; /* Orange color */
  }

  .login {
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .form-container {
    text-align: left;
    margin-top: 10px;
  }

  input[type="text"] {
    padding: 10px;
    margin-bottom: 10px; /* Adjusted margin for spacing between inputs */
    width: 80%; /* You can adjust this width as necessary */
    border: 2px solid #555; /* Example border style */
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white for input background */
    color: white; /* White text color */
  }

  input[type="text"]::placeholder {
    color: #bbb; /* Lighter color for placeholder text */
}
  button {
    padding: 10px 20px;
    border: 1px;
    background-color: #FFA726;
    color: white;
    cursor: pointer;
    margin-right: 10px;
  }
  button:hover {
    background-color: #FB8C00;
  }
  .desc {
    margin-top: 5px; /* Add some space above the prompt */
    margin-bottom: 10px;
    text-align: left; /* Center the text */
    font-size: 0.9em; /* Adjust font size as needed */
    opacity: 0.7;
}
  